<table [class]="class">
    <thead>
        <tr>
            @for(th of tableHeader; track th) {
                <th>{{th}}</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (cliente of data; track cliente.id) {
            <tr>
                <td>{{cliente.id}}</td>
                <td>{{cliente.nome}}</td>
                <td>{{cliente.telefone}}</td>
                <td>{{cliente.email}}</td>
                <td>{{cliente.endereco}}</td>
                <td>
                    <div ngbDropdown class="d-inline-block">
                        <button type="button" class="btn btn-outline-secondary" id="dropdownAction" ngbDropdownToggle>
                            <i class="bi bi-list"></i>
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownAction">
                            <button ngbDropdownItem (click)="editar(cliente)">Editar</button>
                            <button ngbDropdownItem (click)="excluir(cliente)">Excluir</button>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>